@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
}

body{
    background: linear-gradient(90deg, rgb(76, 75, 78) 0%, rgb(144, 142, 146) 35%, rgb(101, 105, 105) 100%);
    font-family: 'Poppins', sans-serif;

}
.mx-auto{
    border-radius: 20px;
    margin-top: 40px !important;
    width: 50% !important;
    background-color: white !important;
    padding: 50px;
}


.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(56, 5, 5) 0%, rgb(151, 9, 9) 35%, rgb(216, 17, 17) 100%);
    
}

.form-control{
    color: rgba(0,0,0,.87);
    border-bottom-color: rgba(0,0,0,.42);
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    }
 .title{
    font-size: 2rem !important;
    font-weight: 700;
    text-align: center;
 }  
 .form-label{
    font-weight: 800 !important;
 }
@media only screen and (max-width: 600px) {
 .mx-auto{
    width: 100% !important;
 }
}